- var htmlClassHideAside = theme.aside.enable && theme.aside.hide ? 'hide-aside' : ''
- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''

doctype html
html(lang=config.language data-theme=theme.display_mode class=htmlClassHideAside)
  head
    include ./head.pug
  body
    if theme.preloader.enable
      !=partial('includes/loading/loading', {}, {cache:theme.fragment_cache})

    if theme.background
      #web_bg
      
    !=partial('includes/sidebar', {}, {cache:theme.fragment_cache})

    #body-wrap
      include ./header/index.pug

      main#content-inner.layout(class=hideAside)
        if body
          div!= body
        else
          block content
          if theme.aside.enable && page.aside !== false
            include widget/index.pug

      - var footerBg = theme.footer_bg
      if !is_post()
        if (footerBg === true)
          - var footer_bg = 'background-color: transparent;'
        else
          - var footer_bg = 'background-color: transparent;'
      else
        - var footer_bg = 'background-color: transparent;'

      footer#footer(style=footer_bg)
        !=partial('includes/footer', {}, {cache:theme.fragment_cache})

    include ./rightside.pug
    !=partial('includes/third-party/search/index', {}, {cache:theme.fragment_cache})
    include ./additional-js.pug
